/*
Font headings - 'Indie Flower', cursive;
	 copy     - 'Helvetica Neue', Helvetica, Arial, Sans-serif;
Colors
	Neutral #d6cbce
	Lt Blue #205c8a
	Dk Blue #1d2e4a
	Dk Red  #89343a
	Mustard #ffbe63
*/

/*--GENERAL STYLES--*/
body {
	background-color: #d6cbce;
	margin: 0;
	position: relative;
}
h1, h2, h3 {
	font-family: 'Indie Flower', cursive;
	font-size: 28px;
}
p, a {
	font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
	font-size: 14px;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

/*----- NAV --------*/
#topstripe {
	background-color: #205c8a;
	overflow: hidden;
	height: 60px;
	width: 100%;
	position: absolute;
}
header {
	background-color: #205c8a;
	overflow: hidden;
	height: 60px;
}
#logo {
	float: left;
	margin: 5px 0;
	overflow: hidden;
}
#logo img {
	height: 50px;
	display: block;
	float: left;
}
#logo h1{
	color: #d6cbce;
	display: block;
	float: left;
	line-height: 10px;
	margin-left: 10px;
}
.login, .logout{
	float: right;
}
.login a, .logout a {
	text-decoration: none;
	color: #d6cbce;
	line-height: 30px;
}
.login a:hover, .logout a:hover{
	text-decoration: underline;
	cursor: pointer;
}

/*----- CONTENT ----*/
#content {
	float: left;
	width: 660px;
	overflow: hidden;
	margin-top: 10px;
}

/*----- VIDEO ------*/
#videobox {
	background-color: black;
	width: 640px;
	height: 480px;
	position: relative;
}
#controls {
	background-color: #205c8a;
	height: 50px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
#play.inactive, #play.active{
	float: left;
	background-size: 40px;
	margin: 5px 20px;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
}
#play:hover{
	cursor: pointer;
}
#play.inactive{
	background-image: url(../img/play1.png);
}
#play.active{
	background-image: url(../img/play2.png);
}
#progress{
	float: left;
	background-image: url(../img/progress1.png);
	background-size: 225px;
	margin: 15px 20px;
	height: 20px;
	width: 225px;
	background-repeat: no-repeat;
}
#played{
	float: left;
	background-image: url(../img/progress2.png);
	background-size: 225px;
	margin: 0;
	height: 20px;
	width: 0px;
	background-repeat: no-repeat;
}
#volume{
	float: right;
	background-image: url(../img/volume1.png);
	background-size: 40px;
	margin: 5px 20px;
	width: 35px;
	height: 40px;
	background-repeat: no-repeat;
}
#level{
	margin: 0;
	background-image: url(../img/volume2.png);
	background-size: 40px;
	width: 25px;
	height: 40px;
	background-repeat: no-repeat;
}
#microphone.active, #microphone.inactive{
	float: right;
	background-size: 18px;
	margin: 5px 20px;
	height: 40px;
	width: 18px;
	background-repeat: no-repeat;
}
#microphone:hover{
	cursor: pointer;
}
#microphone.inactive{
	background-image: url(../img/microphone1.png);
}
#microphone.active{
	background-image: url(../img/microphone2.png);
}
#webcam.active, #webcam.inactive{
	float: right;
	background-size: 40px;
	margin: 5px 20px;
	height: 40px;
	width: 38px;
	background-repeat: no-repeat;
}
#webcam:hover{
	cursor: pointer;
}
#webcam.inactive{
	background-image: url(../img/webcam1.png);
}
#webcam.active{
	background-image: url(../img/webcam2.png);
}
#record.inactive, #record.active{
	float: right;
	background-size: 40px;
	margin: 5px 20px;
	height: 40px;
	width: 40px;
	background-repeat: no-repeat;
}
#record:hover{
	cursor: pointer;
}
#record.inactive{
	background-image: url(../img/record1.png);
}
#record.active{
	background-image: url(../img/record2.png);
}
#selectmic{
	position: absolute;
	bottom: 50px;
	right: 175px;
	background-color: #1d2e4a;
	color: #d6cbce;
}
#selectcam {
	position: absolute;
	bottom: 50px;
	right: 100px;
	background-color: #1d2e4a;
	color: #d6cbce;
}
h3.camnum, h3.micnum{
	font-size: 18px;
	padding: 2px 10px;
	margin: 3px 0;
}
.camnum:hover, .micnum:hover{
	background-color: #205c8a;
}

/*----- COMMENT ----*/
#commentbox{
	overflow: hidden;
	margin-bottom: 40px;
}
.comment{
	overflow: hidden;
	margin-bottom: 10px;
}
.userpic {
	height: 45px;
	width: 45px;
	background-color: #ffbe63;
	float: left;
	margin-right: 5px;
}
.username, .usercomment {
	margin-left: 55px;
	line-height: 5px;
}
#addCom {
	margin-top: 10px;
}
#addCom input{
	width: 640px;
}
/*----- ASIDE ------*/
aside {
	margin-top: 95px;
}

/*----- FOOTER -----*/
footer {
	position: absolute;
	bottom: 0px;
	color: #d6cbce;
	margin-top: 10px;
	text-align: center;
	width: 100%;
	line-height: 0px;
}
#bottomstripe {
	background-color: #205c8a;
	overflow: hidden;
	height: 30px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}